doc/tags
R/vimcom/src/*.o
R/vimcom/src/apps/*.o
R/vimcom/src/*.so
R/vimcom/src/*.dll
R/vimcom/src/compile_flags.txt
R/vimcom/src/apps/*.o
R/vimcom/src/apps/*.so
R/vimcom/src/apps/*.dll
R/vimcom/src/apps/vimrserver
R/vimcom/src/apps/vimrserver.exe
R/vimcom/src/apps/compile_flags.txt
R/__pycache__/
R/*.pyc
