export("NvimR.source", "NvimR.selection", "NvimR.block", "NvimR.paragraph", "NvimR.function", "NvimR.chunk",
       "nvim.list.args", "nvim.srcdir", "nvim.plot", "nvim.interlace.rnoweb",
       "nvim.interlace.rrst", "nvim.print", "nvim.names", "etags2ctags",
       "nvim.interlace.rmd", "vi")

importFrom("tools", "Rd2txt_options", "texi2dvi")
importFrom("methods", "existsFunction", "slotNames")
importFrom("graphics", "boxplot", "hist", "par", "plot")
importFrom("stats", "runif")
importFrom("utils", "browseURL", "capture.output", "example", "find",
           "getAnywhere", "methods", "packageDescription",
           "read.table", "Sweave", "write.table")
